<h2>Listings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Desctiption</th>
      <th>price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing|%>
      <tr>
        <td><%= listing.name%></td>
        <td><%= listing.description%></td>
        <td><%= listing.price%></td>
      </tr>

    <% end %>

  </tbody>

</table>


<div id="<%= dom_id listing %>">
  <p>
    <strong>Name:</strong>
    <%= listing.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

</div>
