<p style="color: green"><%= notice %></p>

<%= render @listing %>

<div>
  <%= link_to "Edit ", edit_listing_path(@listing), class: "btn btn-link" %> |
  <%= link_to "Back ", listings_path %>

  <%= button_to "Destroy ", @listing, method: :delete %>
</div>
