<p style="color: green"><%= notice %></p>

<%= render @listing %>

<div>
  <% if current_user == @listing.user %>
    <%= link_to "Edit ", edit_listing_path(@listing), class: "btn btn-link" %> |
  <% end %>
  <%= link_to "Back ", listings_path, class: "btn btn-link" %>
  <% if current_user == @listing.user %>
    <%= button_to "Destroy ", @listing, method: :delete, class: "btn btn-link" %>
  <%end%>
</div>  