<!DOCTYPE html>
<html>
  <head>
    <title>Etsydemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar'%>
    <%= link_to "About", pages_about_path%>
    <%= link_to "Contact", pages_contact_path%> 
    <%= yield %>
    <p>Copyright 2023</p>

  </body>
</html>
